.slick-slide > div {
  position: relative;
}

.banner_height {
  height: 45vh;
  padding: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-dots {
  position: initial !important;
}

.slick-track {
  display: flex;
  align-items: center;
}
