.slick-slide > div {
  position: relative;
}

.banner_height {
  height: 45vh;
  padding: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-dots {
  position: initial !important;
}
// .slick-prev {
//   left: 0px !important;
//   z-index: 1;
// }

// .slick-next {
//   right: 0px !important;
//   z-index: 1;
// }

.slick-track {
  display: flex;
  align-items: center;
}
